<template>
  <div>
      <div v-for="exchange in exchanges" :key="exchange.id">
        <label>
          <input name="exchange"
                 v-model="radioValue"
                 type="radio"
                 :value="{
                  value: exchange.buy,
                  type: 'buy',
                  ccy: exchange.ccy,
                  base_ccy: exchange.base_ccy}">
          Покупка {{exchange.ccy}} за {{exchange.base_ccy}}
        </label>
        <label>
          <input name="exchange"
                 v-model="radioValue"
                 type="radio"
                 :value="{
                  value: exchange.sale,
                  type: 'sale',
                  ccy: exchange.ccy,
                  base_ccy: exchange.base_ccy}">
          Продажа {{exchange.ccy}} на {{exchange.base_ccy}}
        </label>
      </div>
      <button @click="$router.push({name: 'Main'})">Вернуться</button>
      <button @click="goNext">Продолжить</button>
    <h2>{{$store.state.amount}}</h2>
  </div>
</template>

<script>
export default {
  name: 'ExchangeRates',
  data () {
    return {
      exchanges: [],
      radioValue: null
    }
  },
  methods: {
    goNext: function () {
      if (!this.radioValue) {
        return null
      }
      let resultValue =
        this.radioValue.type === 'buy'
          ? this.$store.state.amount / this.radioValue.value
          : this.$store.state.amount * this.radioValue.value
      let createdHistoryValue = {
        amount: this.$store.state.amount,
        result: resultValue,
        operationInfo: this.radioValue
      }
      let conversionsHistory = JSON.parse(localStorage.getItem('conversions'))

      conversionsHistory.push(createdHistoryValue)
      localStorage.setItem('conversions', JSON.stringify(conversionsHistory))
      this.$store.commit('updateHistory', createdHistoryValue)
      this.$router.push({name: 'Result', params: {resultValue: resultValue}})
    }
  },
  beforeCreate () {
    if (!this.$store.state.amount) {
      this.$router.push({name: 'Main'})
    }
    this.$store.getters.getDataFromResponse.then(value => { this.exchanges = value })
  }
}
</script>

<style scoped>

</style>
