<template>
  <div>
    <div>История конвертаций:</div>
    <ul>
      <li v-for="conversion in conversions"
          :key="conversion.id">
          {{createMessageByConversionInfo(conversion)}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'History',
  data () {
    return {
      conversions: this.$store.state.historyList
    }
  },
  methods: {
    createMessageByConversionInfo: function (conversion) {
      return conversion.operationInfo.type === 'sale'
        ? 'Вы продали ' + conversion.amount + conversion.operationInfo.ccy + ' за ' + conversion.result + conversion.operationInfo.base_ccy
        : 'Вы приобрели ' + conversion.result + conversion.operationInfo.ccy + ' за ' + conversion.amount + conversion.operationInfo.base_ccy
    }
  },
  beforeCreate () {
    if (!localStorage.getItem('conversions')) {
      localStorage.setItem('conversions', JSON.stringify([]))
    }
  }
}
</script>
