<template>
  <div>
    <label for="amount">
      Введите конвертируемую сумму:
      <input id="amount" type="number" placeholder="100" v-model="inputValue">
    </label>
    <button @click="inputValue = null">Очистить</button>
    <button @click="goNext()">Продолжить</button>
  </div>
</template>

<script>

export default {
  name: 'Main',
  data () {
    return {
      inputValue: this.$store.state.amount
    }
  },
  methods: {
    goNext: function () {
      this.$store.commit('setAmount', this.inputValue)
      this.$router.push({name: 'ExchangeRates'})
    }
  }
}
</script>

<style scoped>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
</style>
