<template>
  <div>
    <h1>Ваша конвертируемая сумма равна: {{resultValue}}</h1>
    <button @click="$router.push({name: 'ExchangeRates'})">
      Вернуться
    </button>
    <button @click="$router.push({name: 'Main'})">
      Новая конвертация
    </button>
  </div>
</template>

<script>

export default {
  name: 'Result',
  props: ['resultValue']
}
</script>

<style scoped>

</style>
