<template>
  <div id="app">
    <router-view/>
    <history></history>
  </div>
</template>

<script>
import History from '@/components/History'
export default {
  name: 'App',
  components: {History}
}
</script>

<style>
</style>
